/*General CSS*/
*{ 
	margin: 0px;
	padding: 0px;
	font-size: 34px;
	font-family: 'Sarpanch', sans-serif;

}

@media screen and (max-width: 700px){
	#nav ul li a{
		display: block;
		text-align: center;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
}


/*NAV CSS*/

#nav{
	background-color: black;
	color: white;
	margin: 0px;
	padding: 0px;
}

#nav-links{
	list-style-type: none;
	margin: 0px;
	padding: 0px;

}


li, a{
	display: inline;
	color: white;
	text-decoration: none;
	margin: 0px;
	padding: 10px;
	transition: background-color 0.4s;

}

a:hover{
	background-color: cadetblue;
	color: black;
}


/*MAIN CSS*/

#image-area{
	background-image: linear-gradient(to top, rgba(41, 128, 185, 0.3), rgba(44, 62, 80, 1)), url(g1.jpg);
	background-size: cover;
	background-position: center center;
	padding-top: 300px;
	padding-bottom: 300px;
}

#name{
	color: black;

}

/*SECTION CSS*/

#services{
	background-color: black;
	color: gray;
	display: flex;
	justify-content: center;
	margin: auto;
}
