#testimonials{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#doggo{
	order: -1;
}

#nav{
	display: flex;
	justify-content: flex-start;
	background-color: blue;
}

ul{
	display: flex;
}

ul li{
	list-style-type: none;
	padding-right: 20px;
}